<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>MedShake CCAM NGAP API</title>
    <meta name="Description" content="API sous licence AGPL* pour un accès facile aux données CCAM et NGAP et le calcul des honoraires médicaux"/>
  </head>
  <body>
    Index
    <br>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7ZP9L2BG2JHMY">Faire un don à l'auteur de l'API</a>.

  </body>
</html>
